.home{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (min-width: 290px) {
  .home{
    margin-top: 20%;

  
    .img{
      width: 90%;
    }
    
    .logo{
      width: 80%;
    }
  }
}
@media (min-width: 600px) {
  .home{
    margin-top: 10%;

  
    .img{
      width: 50%;
    }
    
    .logo{
      width: 40%;
    }
  }
}
@media (min-width: 1300px) {
  .home{
  margin-top: 10%;
 

  .img{
    width: 50%;
  }
  
  .logo{
    width: 40%;
  }
}
}
